body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  height: 100%;
  width: 100%;
  background: #C1E1DC;
}

h1 {
  font-family: "Lucida Console", Courier, monospace;
  text-align: center;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

.content {
  margin: 10px auto;
  width: 400px;
}

.user-input {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background: #ECECEC;
}

input {
  width: 300px;
  margin: 25px auto 5px auto;
  padding: 5px;
  font-size: 90%;
}

.submit-btn {
  width: 300px;
  padding: 5px;
  margin: 5px auto 25px auto;
  background: #FF0095;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 100%;
}

.card-container {
  padding: 30px;
  background: #FFCCAC;
}

input {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 8px;
  width: 300px;
  background: #fff;
}
